:root {
  --blue-bg-color: #20B8EA;
  --gray-bg-color: #F2F1F2;
  --text-color: #B5B5B5;
  --input-color: #BFBFBF;
}

p {
	margin: 0;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--blue-bg-color);
	padding: 0 4rem;
	color: #fff;
}
header label {
	position: relative;
	display: flex;
}
header label span {
	position: absolute;
	right: 0.5rem;
}
header input {
  height: 2rem;
  width: 20rem;
  padding-left: 1rem;
  border: 0;
  border-radius: 1rem;
}
header input:focus{
    outline: none;
}
main {
  background-color: var(--gray-bg-color);
}
main .drivers_list {
	display: flex;
  flex-wrap: wrap;
  max-width: 1450px;
  margin: auto;
}
main figure.contact_data {
	background-color: #fff;
  padding: 1rem;
  margin: .5rem;
  color: var(--text-color);
}
main figure img {
	object-fit: cover;
  object-position: top;
  height: 160px;
  width: 300px;
  transition: height .5s;
}
main figure figcaption {
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 1rem;
}    
main figure.contact_data div.hovers_data {
	overflow-y: hidden;
	max-height: 0;
	animation: slideDown 1s forwards;
	display: flex;
	flex-direction: column;
}
main figure.contact_data div.hovers_data a {
	color: var(--text-color);
	text-decoration: none; 
}
main figure.contact_data .figure-container.citizen:before {
	content: url(logos-drivers/citizen.svg);
	position: absolute;
	bottom: 0 
}
main figure.contact_data .figure-container.professional:before {
	content: url(logos-drivers/professional.svg); 
	position: absolute;
	bottom: -1rem;
	left: 1rem;
}
main figure.contact_data .figure-container {
	position: relative;
}
main figure.contact_data.isAnimatedDown img {
	object-fit: cover;
	height: 110px;
}
@keyframes slideDown {
  from {
    max-height: 0;
  }
  to {
    max-height: 100px;
  }
}


@media screen and (max-width: 980px) {
	header {
		padding: 0 1rem;
	}
	main div {
		justify-content: center;
	}
}
@media screen and (max-width:600px) {
	header {
		flex-direction: column;
		padding: 1rem 0
	}
}